@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
.App {
  text-align: center;
  font-family: "Langar", cursive;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px red;
  cursor: pointer;
}

.contain li {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

body {
  background-color: antiquewhite;
  font-family: "Langar", cursive;
  margin: 0;
}

.contain {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(61, 5, 61, 0.26);
  display: inline-block;
  color: rgb(153, 21, 21);
}
